Source: ros-hydro-pcl-conversions
Section: misc
Priority: extra
Maintainer: "William Woodall <william@osrfoundation.org>"
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-pcl, ros-hydro-sensor-msgs, ros-hydro-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-pcl-conversions
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-pcl, ros-hydro-sensor-msgs, ros-hydro-std-msgs
Description: Provides conversions from PCL data types and ROS message types
